body{
    
    background-image: url(imagenes/fondo_.jpg);
}

main {
    display: flex;
    margin-left: 50px;
    margin-bottom: 10px;
}

nav{
    position: absolute;
    top: 0px;
    right: 10px;     
}

nav li{
    display:block;
}

nav li img{
    width: 30px;
    height: 30px;
}

.texto-entrada{
    margin-top: 130px;
    margin-left: 120px;
}
.mensaje-salida {
    position: relative;
    margin-top: 130px;
    margin-left: 120px;

}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left:250px;
}

.encriptar{
    color: black;
    background-color: rgb(247, 216, 43);
}
.desencriptar{
    color: black;
    background-color: rgb(247, 216, 43);
}

.copiar {
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
    background-color: rgb(247, 216, 43);
}

